<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static 'style/images/favicon.png' %}">
<title>crea;tink</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/plugins.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/navigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/type/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/color/blue.css' %}">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

</head>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar dark-wrapper inverse-text">
    <div class="container">
      <div class="flex-it">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="index2.html"><img src="#" srcset="style/images/logo-light.png 1x',style/images/logo-light@2x.png 2x" alt="" /></a></div>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner -->
          </div>
          <!-- /.nav-bars-wrapper -->
        </div>
        <!-- /.nav-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="scroll">Home</a> </li>
            <li><a href="#services" class="scroll">About Us</a> </li>
            <li><a href="{% url 'work' 'all' %}" class="scroll">Work</a> </li>
            <li><a href="#about" class="scroll">Blog</a> </li>
            <li><a href="#contact" class="scroll">Contact Us</a> </li>
          </ul>
          <!--/.navbar-nav -->
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.flex-it -->
    </div>
    <!--/.container -->
  </nav>
</div>



  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title text-center">Get in Touch</h2>
          <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
          <div class="space10"></div>
          <div class="form-container">
            <form action="https://demos.elemisthemes.com/creatink/contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
              <div class="row">
                <div class="col-sm-6 pr-10">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                  </div>
                  <!--/.form-group -->
                </div>
                <!--/column -->
                <div class="col-sm-6 pl-10">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                  </div>
                  <!--/.form-group -->
                </div>
                <!--/column -->
                <div class="col-sm-6 pr-10">
                  <div class="form-group">
                    <input type="tel" class="form-control" name="tel" placeholder="Phone">
                  </div>
                  <!--/.form-group -->
                </div>
                <!--/column -->
                <div class="col-sm-6 pl-10">
                  <div class="form-group">
                    <label class="custom-select">
                      <select name="department" required>
                        <option value="">Select Department</option>
                        <option value="Sales">Sales</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Support">Customer Support</option>
                        <option value="Other">Other</option>
                      </select>
                      <span><!-- fake select handler --></span> </label>
                  </div>
                  <!--/.form-group -->
                </div>
                <!--/column -->

                <div class="col-sm-12 text-center">
                  <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                  <div class="radio-set radio">
                    <label>Subject:</label>
                    <label>
                      <input type="radio" name="subject" value="General">
                      <span><!-- fake radio --></span> General</label>
                    <label>
                      <input type="radio" name="subject" value="Hi">
                      <span><!-- fake radio --></span> Say Hi</label>
                    <label>
                      <input type="radio" name="subject" value="Other">
                      <span><!-- fake radio --></span> Other</label>
                  </div>
                  <!--/.radio-set -->
                  <button type="submit" class="btn btn-rounded" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                  <footer class="notification-box"></footer>
                </div>
                <!--/column -->

              </div>
              <!--/.row -->

            </form>
            <!--/.vanilla-form -->
          </div>
          <!--/.form-container -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->

</div>


<footer class="gray-wrapper footer-bg footer-bg3">
  <div class="sub-footer">
    <div class="container inner pt-60 pb-30 text-center"> <img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" />
      <div class="space20"></div>
      <p>© 2017 crea;tink. All rights reserved. Theme by elemis.</p>
      <div class="space20"></div>
      <ul class="social social-bg social-s">
        <li><a href="#"><i class="et-twitter"></i></a></li>
        <li><a href="#"><i class="et-facebook"></i></a></li>
        <li><a href="#"><i class="et-pinterest"></i></a></li>
        <li><a href="#"><i class="et-vimeo"></i></a></li>
        <li><a href="#"><i class="et-instagram"></i></a></li>
      </ul>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.sub-footer -->
</footer>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="{% static 'style/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>s

</body>
</html>