<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static 'style/images/favicon.png' %}">
<title>crea;tink</title>
<link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/plugins.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/navigation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/type/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style/css/color/blue.css' %}">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

</head>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar dark-wrapper inverse-text">
    <div class="container">
      <div class="flex-it">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="index2.html"><img src="#" srcset="style/images/logo-light.png 1x',style/images/logo-light@2x.png 2x" alt="" /></a></div>
          <div class="nav-bars-wrapper">
            <div class="nav-bars-inner">
              <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
            </div>
            <!-- /.nav-bars-inner -->
          </div>
          <!-- /.nav-bars-wrapper -->
        </div>
        <!-- /.nav-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#home" class="scroll">Home</a> </li>
            <li><a href="#services" class="scroll">About Us</a> </li>
            <li><a href="{% url 'work' 'all' %}" class="scroll">Work</a> </li>
            <li><a href="#about" class="scroll">Blog</a> </li>
            <li><a href="#contact" class="scroll">Contact Us</a> </li>
          </ul>
          <!--/.navbar-nav -->
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.flex-it -->
    </div>
    <!--/.container -->
  </nav>

  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title text-center">Modal Portfolio</h2>
      <p class="lead text-center">Click on thumbnails to view project details</p>
      <div class="space30"></div>
      <div class="portfolio grid-view">
        <div class="isotope-filter button-group text-center" data-target=".grid-1">
          <ul>
            <li><a class="button active" data-filter="*" href="{% url 'work' 'all' %}">All</a></li>
            <li><a class="button" data-filter=".corporate" href="{% url 'work' 'commercial' %}">Commercial</a></li>
            <li><a class="button" data-filter=".package" href="{% url 'work' 'personal' %}">Personal</a></li>

          </ul>
        </div>
        {% if type == 'all'  %}
        <div class="clearfix"></div>
        <div class="tiles tiles-m">
          <div class="isotope row grid-1">

            {% for i in wdata %}
            <div class="item grid-sizer col-sm-6 col-md-4 web">
              <figure class="overlay overlay9"><a href="#myModal1" data-toggle="modal" data-target="#myModal1"></a><img src="{{ i.img1.url }}" alt="" />
                <figcaption>
                  <h4>{{i.title}}</h4>
                  <div class="meta mb-0">{{i.Category}}, Works</div>
                  <!-- /.meta --> </figcaption>
              </figure>
            </div>
            {% endfor %}
            </div>
          </div>
            {% endif %}
            <!-- /column -->
            {% if type == 'commercial'  %}
            <div class="clearfix"></div>
           <div class="tiles tiles-m">
             <div class="isotope row grid-1">
            {% for i in wdata %}

            <div class="item grid-sizer col-sm-6 col-md-4 web">
                  {% if i.Category == 'Commercial' %}
              <figure class="overlay overlay9"><a href="#myModal1" data-toggle="modal" data-target="#myModal1"></a><img src="{{i.img1.url}}" alt="" />
                <figcaption>
                  <h4>Curabitur Blandit</h4>
                  <div class="meta mb-0">Business, Works</div>
                  <!-- /.meta --> </figcaption>
              </figure>
              {% endif %}
            </div>



            {% endfor %}
             </div>
      </div>

            {% endif %}


             {% if type == 'personal' %}
        <div class="clearfix"></div>
        <div class="tiles tiles-m">
          <div class="isotope row grid-1">
            {% for i in wdata %}
            {% if i.Category == 'Personal' %}
            <div class="item grid-sizer col-sm-6 col-md-4 web">
              <figure class="overlay overlay9"><a href="#myModal1" data-toggle="modal" data-target="#myModal1"></a><img src="{{ i.img1.url }}" alt="" />
                <figcaption>
                  <h4>Curabitur Blandit</h4>
                  <div class="meta mb-0">Business, Works</div>
                  <!-- /.meta --> </figcaption>
              </figure>
            </div>
            {% endif %}


            {% endfor %}
            </div>
          </div>

            {% endif %}




            <!-- /column -->
          </div>
          <!--/.row -->

        </div>
        <!--/.tiles -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal1" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Curabitur Blandit</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <div class="divide10"></div>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w9-full.jpg" alt=""></li>
                <li><img src="style/images/art/w4-full.jpg" alt=""></li>
                <li><img src="style/images/art/w5-full.jpg" alt=""></li>
                <li><img src="style/images/art/w1-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal2" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Mollis Euismod Fringilla</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w3-full.jpg" alt=""></li>
                <li><img src="style/images/art/w8-full.jpg" alt=""></li>
                <li><img src="style/images/art/w7-full.jpg" alt=""></li>
                <li><img src="style/images/art/w6-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal3" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Dapibus Quam</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w2-full.jpg" alt=""></li>
                <li><img src="style/images/art/w1-full.jpg" alt=""></li>
                <li><img src="style/images/art/w3-full.jpg" alt=""></li>
                <li><img src="style/images/art/w8-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal4" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Fusce Malesuada</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w6-full.jpg" alt=""></li>
                <li><img src="style/images/art/w7-full.jpg" alt=""></li>
                <li><img src="style/images/art/w3-full.jpg" alt=""></li>
                <li><img src="style/images/art/w5-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal5" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Vehicula Euismod Mollis</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w1-full.jpg" alt=""></li>
                <li><img src="style/images/art/w2-full.jpg" alt=""></li>
                <li><img src="style/images/art/w3-full.jpg" alt=""></li>
                <li><img src="style/images/art/w4-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal6" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Vehicula Justo Elit</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w5-full.jpg" alt=""></li>
                <li><img src="style/images/art/w9-full.jpg" alt=""></li>
                <li><img src="style/images/art/w8-full.jpg" alt=""></li>
                <li><img src="style/images/art/w2-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal7" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Ultricies Tellus</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w8-full.jpg" alt=""></li>
                <li><img src="style/images/art/w7-full.jpg" alt=""></li>
                <li><img src="style/images/art/w4-full.jpg" alt=""></li>
                <li><img src="style/images/art/w3-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal8" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Dapibus Quam Ligula</h2>
              <p> Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. </p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w6-full.jpg" alt=""></li>
                <li><img src="style/images/art/w7-full.jpg" alt=""></li>
                <li><img src="style/images/art/w9-full.jpg" alt=""></li>
                <li><img src="style/images/art/w2-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

        <div class="modal dark-wrapper inverse-text modal-transparent move-from-top" id="myModal9" tabindex="-1" role="dialog"> <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-center">
              <h2 class="post-title">Fusce Malesuada</h2>
              <p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.</p>
              <ul class="basic-gallery">
                <li><img src="style/images/art/w5-full.jpg" alt=""></li>
                <li><img src="style/images/art/w7-full.jpg" alt=""></li>
                <li><img src="style/images/art/w8-full.jpg" alt=""></li>
                <li><img src="style/images/art/w1-full.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.modal -->

      </div>
      <!--/.portfolio -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->

  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="text-center">
        <p class="lead">If you like what you see, let's work together.</p>
        <a href="#" class="btn btn-rounded mb-0">Get in Touch</a> </div>
      <!-- /.text-center -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.gray-wrapper -->

</div>

</body>
</html>